@import "../base/mixins";

.departments {
  @include flexCenter;

  &__btn {
    &-select {
      width: 100%;
      border: none;
      outline: none;
      background-color: #efeff7;
      padding: 15px 0;
      margin-bottom: 20px;
      cursor: pointer;

      &-wrapper {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 15px;
          height: 15px;
          background-image: url("/static/image/location.png");
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          left: -20px;
        }
      }
    }

    &-back {
      @include backBtn;
    }
  }
}
